.markdown
    height: auto
    padding: 0rem 5rem
    padding-bottom: 5rem
    background: var(--bg-light)
    color: var(--fg)

    a
        color: var(--primary)
    img
        width: 80%

    @media (max-width: 850px)
        adding: 0 1rem