.container 
  height: 100vh
  padding-top: 12vh
  display: flex 
  flex-direction: column
  align-items: center
  color: var(--fg)

  gap: 1rem

  .pagination 
    display: flex
    gap: 1rem 
    max-width: 10vw
    overflow: auto

    .page
      .link
        color: var(--fg)
        text-decoration: none

        transition: all 0.2s ease-in-out
        
        &.active
          color: var(--primary)
          font-weight: bold

        &:hover
          color: var(--fg-dark)

  .news
    color: #fff

    display: flex
    flex-direction: column
    align-items: center

    .new 
      transition: all 0.3s ease-in-out
      
      a
        color: var(--primary)
        text-decoration: none
        transition: all 0.1s ease-in-out

        &:hover 
          text-decoration: underline
          color: var(--fg-dark)
