.header
	display: flex
	justify-content: space-between
	align-items: center
	padding: 1rem 5rem
	height: 10%

	position: fixed
	top: 0
	left: 0
	width: 100%

	z-index: 2000
	backdrop-filter: blur(4px)

	&.light
		background: var(--header-bg)
		backdrop-filter: blur(10px)


	.navigation
		display: flex
		gap: 1rem

		.link
			position: relative

			display: flex
			flex-direction: column
			justify-content: start
			align-items: center

			a
				color: var(--fg)
				text-decoration: none

				transition: 0.3s all

			.inner
				color: var(--fg)
				display: flex
				justify-content: center
				align-items: center

				transition: 0.3s all

				cursor: pointer

				@media (hover: hover)
					&:hover
						color: var(--fg-dark)

						a
							color: var(--fg-dark)

				@media (hover: none)
					&:active
						color: var(--fg-dark)

						a
							color: var(--fg-dark)

			.links
				position: absolute
				top: 0
				left: 0
				display: flex

				pointer-events: none

				margin-top: 2.5rem
				padding: 2rem
				background: var(--bg)
				border: 2px solid var(--bg-light)

				border-radius: 0.6rem
				flex-direction: column
				gap: 1rem

				opacity: 0

				transition: 0.3s all

				a
					white-space: nowrap

					display: flex
					justify-content: flex-start
					align-items: center

					border: 2px solid var(--bg-light)
					padding: 1rem

					&:hover
						background: var(--bg-light)

			&.active
				color: var(--fg-dark)

				.inner
					color: var(--fg-dark)

				.links
					opacity: 1
					pointer-events: all

	.search
		display: flex
		justify-content: center
		align-items: center

		width: 15rem
		height: 2rem

		background: var(--bg)
		padding: 0rem 0.6rem
		border-radius: 0.6rem

		input
			width: 100%
			background: inherit
			outline: none
			border: none
			color: var(--fg)

		.icon
			color: var(--fg-dark)
			cursor: pointer

	.menuBtn
		display: none
		border: none
		outline: none
		background: none

		position: fixed
		top: 0
		right: 0
		margin: 1rem

		z-index: 1200

		color: var(--fg)
		transition: all 0.3s ease-in-out

		@media (hover: hover)
			&:hover
				color: var(--fg-dark)

		@media (hover: none)
			&:active
				color: var(--fg-dark)

		svg
			transition: all 0.3s ease-in-out

@media (max-width: 1300px)
	.header
		padding: 1rem 2rem
		backdrop-filter: none

		.navigation
			display: none

		.search
			display: none

		.menuBtn
			display: flex
