.header
	display: flex
	justify-content: space-between
	align-items: center
	padding: 1rem 5rem
	height: 10vh

	position: fixed
	top: 0
	left: 0
	width: 100%

	z-index: 2000

	&.blur
		background: var(--header-bg)
		backdrop-filter: blur(10px)

	.navigation
		display: flex
		gap: 1rem

		.link
			position: relative

			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: center

			a
				color: var(--fg)
				text-decoration: none

				transition: 0.3s all

			.inner
				color: var(--fg)
				display: flex
				justify-content: center
				align-items: center

				transition: 0.3s all

				cursor: pointer

				@media (hover: hover)
					&:hover
						color: var(--fg-dark)

						a
							color: var(--fg-dark)

				@media (hover: none)
					&:active
						color: var(--fg-dark)

						a
							color: var(--fg-dark)

			.links
				position: absolute
				top: 0
				left: 0
				display: flex

				pointer-events: none

				margin-top: 2.5rem
				padding: 2rem
				background: var(--bg)
				border: 2px solid var(--bg-light)

				border-radius: 0.6rem
				flex-direction: column
				gap: 1rem

				opacity: 0

				transition: 0.3s all

				a
					white-space: nowrap

					display: flex
					justify-content: flex-start
					align-items: center

					border: 2px solid var(--bg-light)
					padding: 1rem

					&:hover
						background: var(--bg-light)

			&.active
				color: var(--fg-dark)

				.inner
					color: var(--fg-dark)

				.links
					opacity: 1
					pointer-events: all

	.search
		display: flex
		justify-content: center
		align-items: center

		width: 15rem
		height: 2rem

		background: var(--bg)
		padding: 0rem 0.6rem
		border-radius: 0.6rem

		input
			width: 100%
			background: inherit
			outline: none
			border: none
			color: var(--fg)

		.icon
			color: var(--fg-dark)
			cursor: pointer

	@media (max-width: 1300px)
		padding: 1rem 2rem
		backdrop-filter: none
		background: none

		.navigation
			display: none

		.search
			display: none

.mobileHeader
	position: fixed
	transition: .1s all ease
	height: 100%
	z-index: 3000

	.menuBtn
		display: none
		border: none
		outline: none
		background: none

		position: fixed
		top: 0
		right: 0
		margin: 1rem

		z-index: 1200

		color: var(--fg-light)
		transition: all 0.1s ease-in-out

		cursor: pointer

		@media (hover: hover)
			&:hover
				color: var(--fg-dark)

		@media (hover: none)
			&:active
				color: var(--fg-dark)

		svg
			transition: all 0.1s ease-in-out

	&.light
		.background
			background: var(--bg-light)

		.content
			.search
				background: var(--bg)

	&.dark
		.background
			background: var(--bg)

		.content
			.search
				background: var(--bg-light)

	.background
		transform: translateX(-100%)
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: var(--bg-light)
		z-index: 2999
		transition: .2s all ease
		width: 78%

		&.active
			opacity: 1
			transform: translateX(0)
	.content
		position: fixed
		transform: translateX(-100%)
		transition: .2s all ease

		z-index: 3000

		width: 78%
		height: 100%
		padding: 1rem

		display: grid
		grid-template-rows: 4rem 2rem auto
		justify-items: center

		&.active
			opacity: 1
			transform: translateX(0)

		.search
			display: flex
			justify-content: center
			align-items: center

			width: 80%
			height: 2rem

			background: var(--bg)
			padding: 0rem 0.6rem
			border-radius: 0.6rem

			input
				width: 100%
				background: inherit
				outline: none
				border: none
				color: var(--fg)

			.icon
				color: var(--fg-dark)
				cursor: pointer

		.navigation
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			gap: 1rem

			.link
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center

				a
					color: var(--fg)
					text-decoration: none

				.inner
					color: var(--fg)
					display: flex

				.links
					border-radius: 0.6rem

					display: flex
					flex-direction: column
					justify-content: center
					align-items: center

					pointer-events: none
					opacity: 0
					height: 0

					a
						transition: 0.3s all

				&.active
					.links
						height: 100%
						opacity: 1

						pointer-events: all

						a
							padding: 1rem
							color: var(--fg-dark)
							padding: 0.4rem

	@media (max-width: 1300px)
		.mobileHeader
			display: flex
			.menuBtn
				display: flex
