.footer
    height: 12rem
    background: var(--bg-light)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem

    .text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1rem
        color: var(--fg)

        .info
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

        .copyright
            color: var(--fg-dark)
            font-size: 1rem
            text-align: center

@media (max-width: 700px)
    .footer
        .text
            .info
                font-size: 1rem

            .copyright
                width: 80%
                font-size: 0.8rem
